/* Variables */
$primary : #37435B;
$secondary : #3EADA9;

$primary-dark : #1F2533;
$secondary-dark : #266967;

$primary-analogous : #2F6B30;
$secondary-analogous : #823ABA;

$success : #18A999;

$body-txt : #FFF;
$heading-txt : #FFF;

$body-txt-dark : #DDD;
$heading-txt-dark : #DDD;

$heading-font : 'Alata', sans-serif;
$body-font : 'Cabin', sans-serif;

$shadow : 0px 20px 23px 10px rgba(0,0,0,0.15);